{%load static %}
<link rel="stylesheet"  href="{% static 'css/login.css' %}"> 
<script src="{%static 'js/script.js'%}"></script>

<div class="button-home"><a href="/" style="margin: 10%; margin-top: 10%;">

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-box-arrow-left" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
    </svg>
</a>
</div>


<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="login-body">
    
    
    <form class="login-form" action="{% url 'login' %}" method="post"> 
            <h1>Admin login</h1> 
            
            {% csrf_token %}

            {{ form.as_p }}
            <input class="login-input" type="text" name="username" placeholder="Username">
           
            <input class="login-input" type="password" name="password" placeholder="Password">
            
            <input class="login-input" type="submit" value="Login">
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
</div>



